@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F0F2F3;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--background);
  }
}

@layer components {
  .nav-item {
    @apply px-2 py-1 border-[1.5px] border-black bg-[var(--background)];
  }
}

@layer utilities {
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 36px;
    overflow-x: hidden;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 16s linear infinite;
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}
