@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F0F2F3;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--background);
  }
}

@layer components {
  .nav-item {
    @apply px-2 py-1 border-[1.5px] border-black bg-[var(--background)];
  }
}

@layer utilities {
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 36px;
    overflow-x: hidden;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 16s linear infinite;
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  .box-slide-left-in {
    animation: box-slide-left-in 1s ease-out;
  }
  @keyframes box-slide-left-in {
    from {
      transform: translate(-500%, 50%);
    }
    to {
      transform: translate(0, 50%);
    }
  }

  .slide-left-in {
    animation: slide-left-in 1s ease-out;
  }
  @keyframes slide-left-in {
    from { transform: translateX(-500%); }
    to { transform: translateX(0); }
  }

  .slide-right-in {
    animation: slide-right-in 1s ease-out;
  }
  @keyframes slide-right-in {
    from { transform: translateX(500%); }
    to { transform: translateX(0); }
  }

  .slide-up-in {
    animation: slide-up-in 1s ease-out;
  }
  @keyframes slide-up-in {
    from { transform: translateY(-500%); }
    to { transform: translateY(0); }
  }

  .slide-down-in {
    animation: slide-down-in 1s ease-out;
  }
  @keyframes slide-down-in {
    from { transform: translateY(500%); }
    to { transform: translateY(0); }
  }
}
