@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: #000;
    --background: #F0F2F3;
  }

  body {
    color: var(--foreground-rgb);
    background: var(--background);
  }
}

@layer components {
  .nav-item {
    @apply px-4 py-2 border border-black;
  }
}
